export PORT=9000
export TWITTER_CONSUMER_KEY=YOUR_TWITTER_CONSUMER_KEY
export TWITTER_CONSUMER_SECRET=YOUR_TWITTER_CONSUMER_SECRET
export TWITTER_ACCESS_TOKEN=YOUR_TWITTER_ACCESS_TOKEN
export TWITTER_TOKEN_SECRET=YOUR_TWITTER_TOKEN_SECRET
export TWITTER_CALLBACK=http://localhost:9000/auth/twitter/callback
export IMAGE_SERVER=http://localhost:9100
node app.js