extends layout

block content
	include small-info
	.container
		.row
			.span12
				h2 About Buskerue
				p Live music is, without doubt, essential to a meaningful New Orleans experience. Besides being the birthplace of jazz, the first U.S. city with opera, and locale of the earliest nightclubs, the Crescent City boasts a rich tradition of street entertainment. From brass bands to a cappella serenades, the air here is thick with over two centuries of rhythms and melodies rising up from public spaces. BUSKERUE is the best way to discover, see and hear some of the most colorful characters on the local scene, and makes it easy and fun for music-lovers to share their adventure, be connected to authentic culture, and support their favorite artists.