extends layout

block content
	include small-info
	#about.container
		.row
			.span12
				h2 About Buskerue
				p Live music is, without doubt, essential to a meaningful New Orleans experience. Besides being the birthplace of jazz, the first U.S. city with opera, and locale of the earliest nightclubs, the Crescent City boasts a rich tradition of street entertainment. From brass bands to a cappella serenades, the air here is thick with over two centuries of rhythms and melodies rising up from public spaces. BUSKERUE is the best way to discover, see and hear some of the most colorful characters on the local scene, and makes it easy and fun for music-lovers to share their adventure, be connected to authentic culture, and support their favorite artists.
				
				h3 Teammates

		.row
			.span6
				p
					strong Team Buskerue
					|  <br> Patrick Crilly, Brian Berlin, Bryan Joseph, Aaron Matys, Evan Christopher, Dionne Grayson, Isaac Netters, Hannah Kreiger-Benson, Suezanne Mobley

				p 
					strong 
						a(href='https://digitaltipjar.com/about/') Digital Tip Jar
					|  <br> Digital Tip Jar is a free service that enables bands to accept tips from fans using credit/debit or paypal. Tips are paid directly to the artists, we do not take any percentage of the transaction.

				p 
					strong 
						a(href='http://www.sweethomeneworleans.org/') Sweet Home New Orleans (SHNO)
					|  <br> This app can help musicians monetize their street performances and reach audiences. [Integration with digital tip jar?]
			.span6
				p 
					strong 
						a(href='http://codemkrs.com/about-codemkrs/') Codemkrs
					|  <br> Louisiana's premier hackathon organization dedicated to fixing problems using technology teams.

				p 
					strong 
						a(href='http://3coasts.com/') 3Coasts
					|  <br> 3Coasts is a web development and graphic design company in the heart of New Orleans.

				p 
					strong 
						a(href='http://www.neworleansnoise.com/') The Music and Culture Coalition of New Orleans (MACCNO)
					|  <br> This app is a valuable tool that can help musicians bolster their legitimacy and legality.
