extends layout

block content
	include small-info
	#create-profile.container
		.row
			.span12
				h2 Create Profile
				form(method='post', enctype='multipart/form-data')
					.artist
						input(name='name', type='text', placeholder='Name')
					.description
						label Description
						textarea(name='description')
					.picture
						label Picture
						input(name='picture', type='file')
					.type
						label I am a
						input(name='type', type='radio', value='performer') 
						span Performer
						br
						input(name='type', type='radio', value='player')
						span Player
					.digital-tip
						label Digital Tip Jar Profile URL
						input(name='digital_tip_url', type='text')
					.submit
						input(name='submit', type='submit', class='btn')