extends layout

block content
  include small-info
  #edit-profile.container
    .row
      .span8
        h2 Edit Street Performer
        form(method='post', enctype='multipart/form-data')
          .artist
            label Artist Name
            input(name='name', type='text', value='#{user.artist_name}')
          .description
            label Description
            textarea(name='description')
              | #{user.description}
          .picture
            label Picture
            input(name='picture', type='file', value='#{user.picture}')
          .digital-tip
            label Digital Tip Jar Profile URL
            input(name='digital_tip_url', type='text', value='#{user.digital_tip_jar_url}')
          .submit
            input(name='submit', type='submit', class='btn')