extends layout

block content
	include small-info
	#events.container
		.row
			.span8
				#map
			.events-listing.span4
				h2 Now Drawing a Crowd!
				each event in events
					include eventitem
	- if(!user)
		.container
			.row
				.span12
					hr
					h2 Are you a street performer? 
						a(href='/auth/twitter') Create a Profile

	script(src='//cdn.leafletjs.com/leaflet-0.5/leaflet.js')