extends layout

block content
	include small-info
	.container
		.row
			.span4
				img(class="media-object", data-src="holder.js/370x300")
			.span5
				h2.street-performer Artist Tortor Aenean Cras
				p
					| Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit 
					| non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. 
					| Cras justo odio, dapibus ac facilisis in, egestas eget quam.
				.location Location: Vehicula Condimentum Tellus
				.time Time: 3pm to 5pm
				.btn-group
					a.btn(href='#') Give a Tip
					a.btn(href='#') Tweet
			.span3
				h2.twitter-activity Twitter Activity
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
