extends layout

block content
	#big-info
		.container
			.row
				.span12
					h2 The destination for discovering great street performers.
					p Busk Comes from the Spanish root word "buscar", meaning "to seek" – used commonly in reference to performers. Rue is a french word used for street or road.
					a.cta(href="/auth/twitter") Find Street Performers
	#three-col
		.container
			.row
				.interest.span4
					h3 Porta Nullam Risus Commodo
					p 
						| Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
						| mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque 
						| ornare sem lacinia quam venenatis vestibulum.
				.interest.span4
					h3 Porta Nullam Risus Commodo
					p 
						| Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
						| mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque 
						| ornare sem lacinia quam venenatis vestibulum.
				.interest.span4
					h3 Porta Nullam Risus Commodo
					p 
						| Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
						| mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque 
						| ornare sem lacinia quam venenatis vestibulum.
