extends layout

block content
	#big-info
		.container
			.row
				.span12
					h2 The destination for discovering great street performers.
					p Busk Comes from the Spanish root word "buscar", meaning "to seek" – used commonly in reference to performers. Rue is a french word used for street or road.
					a.cta(href="/events") Find Street Performers
	#three-col
		.container
			.row
				.interest.span4
					h3 
						i.icon-user
						span Performers
					p Set up your profile and plant a flag for fans to find you. Include your digital tip jar for your fans to thank you.
				.interest.span4
					h3 
						i.icon-group
						span Busk fans 
					p Check the map and start your adventure.
				.interest.span4
					h3 
						i.icon-twitter
						span Share your adventure
					p Tweet and share photos. Buskerue will assign relevant hashtags for you.
