extends layout

block content
	#big-info
		.container
			.row
				.span12
					h2 Your destination for discovering great street performers.
					p Busker: A person who entertains in a public place for donations, from the Spanish word buscar. Rue: French for street.
					a.cta(href="/events") Find Street Performers
	#three-col
		.container
			.row
				.interest.span4
					h3 
						i.icon-group
						span Busker fans 
					p Check the map to start your adventure. Tip to support the artists you discover.
					p
						a(class='btn btn-primary', href='/events') Find Street Performers Near You
				.interest.span4
					h3 
						i.icon-user
						span Buskers
					p Set up your profile and plant a flag for fans to find you. Include your digital tip jar for your fans to support you.
					p
						a(class='btn btn-primary', href="/auth/twitter") I'm a Street Performer
				.interest.span4
					h3 
						i.icon-twitter
						span Share your adventure
					p Tweet and share photos. Buskerue will assign relevant hashtags for you.
					p
						a(href="https://twitter.com/share", class="twitter-share-button", data-lang="en") Tweet
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
