extends layout

block content
	header.row
		.page-header.span12
			h1.pull-left Example page header 
				small Subtext for header
			.btn-group.pull-right
				a.btn(href='#') Logout
	section.row
		#big-image.span6
			img(class="media-object", data-src="holder.js/570x370")
		#big-info.span6
			h2 Donec ullamcorper nulla non metus auctor fringilla.
			p 
				| Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Morbi leo risus, 
				| porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Nullam 
				| quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia 
				| quam venenatis vestibulum.
			a.btn.btn-large(href="#") 
				i.icon-twitter  Login with Twitter
	section.row
		hr.span12
		.interest.span4
			h3 Porta Nullam Risus Commodo
			p 
				| Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
				| mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque 
				| ornare sem lacinia quam venenatis vestibulum.
		.interest.span4
			h3 Porta Nullam Risus Commodo
			p 
				| Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
				| mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque 
				| ornare sem lacinia quam venenatis vestibulum.
		.interest.span4
			h3 Porta Nullam Risus Commodo
			p 
				| Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor 
				| mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque 
				| ornare sem lacinia quam venenatis vestibulum.
	footer.row
		hr.span12
		p.span12 This project was created during the 2013 
			a(href='#') CODEMKRS
