doctype
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Trouvere
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='//cdn.leafletjs.com/leaflet-0.5/leaflet.css')
    //if lte IE 8
      link(rel='stylesheet', href='//cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css')
  body
    #page.container
      header.row
        .page-header.span12
          h1.pull-left Example page header 
            small Subtext for header
          .btn-group.pull-right
            a.btn(href='/') Logout
      block content
      footer.row
        hr.span12
        p.span12 This project was created during the 2013 
          a(href='#') CODEMKRS

      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='js/holder/holder.js')

      script
        window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\\/script>')
