extends layout

block content
    .container
        .row
            .span12
                h2 New Event for Boot Scatter Black
                form(method='post', enctype='multipart/form-data')
                    .location
                        label Location Description
                        input(type='text', name='location')
                    #select-point
                    .start-time
                        label Start Time
                        input(type='time', name='starttime')
                    .end-time
                        label End Time
                        input(type='time', name='endtime')
                    .submit-actions
                        input(name='submit', type='submit', class='btn', value='Add')
                    .submit-actions.btn-group
                        a.btn.btn-primary(href='/profile') Update
                        a.btn(href='/profile') Delete
                    input(type='hidden',name='coordinates', id='coordinates')



    script(src='//cdn.leafletjs.com/leaflet-0.5/leaflet.js')
    script(src='/js/new-event.js')
