extends layout

block content
  include small-info
  #new-event.container
    .row
      .span12
        h2 Create a New Event
    .row
      .span3
        form(method='post', enctype='multipart/form-data')
          .location
            label Location
            input(type='text', name='location')
          .start-time
            label Start Time
            input(type='text', name='starttime', id='starttime')
          .end-time
            label End Time
            input(type='text', name='endtime', id='endtime')
          .submit-actions
            input(name='submit', type='submit', class='btn', value='Add')
          input(type='hidden',name='coordinates', id='coordinates')
      .span6
        #map


    script(src='//cdn.leafletjs.com/leaflet-0.5/leaflet.js')
