extends layout

block content
	include small-info
	.container
		.row
			.span5
				h2 #{performer.artist_name}
				.description #{performer.description}
				p 
					- if(performer.digital_tip_jar_url)
						a.btn.btn-primary(target='_blank', href='#{performer.digital_tip_jar_url}') Give a Tip
			.span3
				h3 Events
				.item
					a(href='#') Corner of St. Ann and Royal
					.date April 24th from 3pm to 5pm
				.newevent
					a.btn(href="/events/create") Add New Event
			.span4
				- if(performer.picture)
					img(src="#{performer.picture}")