extends layout

block content
	include small-info
	#profile.container
		.row
			.span5
				h2 #{performer.artist_name}
				p.description!= performer.description.replace(/\n/g, '<br />')

			.span3
				h3 Events
				each event in events
					include eventitem
			.span4
				- if(performer.picture)
					img(src="#{performer.picture}?w=360")
				- if(user)
					ul.nav.well
						li 
							a(href='/edit-profile') Edit Account
						li 
							a(href='/profiles/#{performer.slug}/events') My Events
						li 
							a(href='/events/create') Create Event
