@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "bootstrap/variables.less";
@import "font-awesome/font-awesome.less";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}