@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "bootstrap/variables.less";
@import "font-awesome/font-awesome.less";

@orange: #ffbb29;


body{
	@media (max-width: 767px) {
			padding-left:0px;
			padding-right:0px;
	}
}

.button{
	background-color:@orange;
	color:#322508;
	display:inline-block;
	border-radius:10px;
	text-transform: uppercase;
	font-weight: bold;
	padding:10px 20px;
	font-size:12px;
	&:hover{
		background-color:#ccc;
		text-decoration: none;
		color:#222;
	}

}


.heading-font{
	font-family: 'Noto Serif', serif;
}


#header{
	background-image:url('/img/bkgd.png');
	background-color:#191a21;
	background-repeat: repeat-x;
	padding-top:20px;
	@media (max-width: 767px) {
		padding-left:10px;
		padding-right:10px;
	}
	h1{
		.heading-font;
		font-size: 17px;
		text-transform: uppercase;
		font-style: italic;
		margin-top: 7px;
		line-height: 17px;
		margin-bottom:18px;
		a{
			color: #fff;
			&:hover{
					text-decoration: none;		
			}
			span{
				color: @orange;
			}
		}
	}
	.mobile-menu{
		display:none;
		margin-top:5px;
		float:right;
		a{
			display:block;
			font-size:14px;
			color:#fff;
			text-transform: uppercase;
		}
		@media (max-width: 767px) {
			display:block;
		}
	}
	.navigation{
		list-style: none;
		margin-top:5px;
		float:right;
		li{
			float:left;
			margin-left:20px;
			a{
				display:block;
				font-size:14px;
				color:#fff;
				text-transform: uppercase;
			}
		}
		@media (max-width: 768px) {
			display: none;
			width:100%;
			li{
				float:none;
				margin:0;
				padding:10px 0;
				a{
					color:@orange;
				}
			}
		}
		@media (min-width: 768px) and (max-width: 979px) {
			display:block;
		}
	}
}

#big-info{
	background-image:url('/img/banner.png');
	background-size:100% 100%;
	min-height:391px;
	color:#fff;
	text-align: center;

	h2{
		.heading-font;
		text-shadow:1px 1px 7px #000;
		font-size:36px;
		text-align: center;
		margin-top:80px;
		@media (max-width: 1200px) {
			margin-top:60px; 
			font-size:30px;
			line-height: 34px;
		}
		@media (max-width: 767px) {
			margin-top:30px;
		}
	}
	p{
		.heading-font;
		text-shadow:1px 1px 7px #000;
		font-weight: normal;
		font-style: italic;
		font-size: 24px;
		line-height: 32px;
		padding-top: 30px;
		width:80%;
		margin:0 auto;
		@media (min-width: 768px) and (max-width: 979px) {
			width:100%;
		}
		@media (max-width: 767px) {
			padding-top:10px;	
			line-height: 23px;
			font-size: 19px;
		}
	}
	a.cta{
		.button;
		box-shadow:1px 1px 7px #000;
		margin-top:40px;
		padding:20px 30px;
	}
}

#small-info{
	background-image:url('/img/banner.png');
	background-size:100%;
	color:#fff;
	margin-bottom:30px;
	h2{
		.heading-font;
		text-shadow:1px 1px 7px #000;
		font-weight: normal;
		font-style: italic;
		font-size: 24px;
		line-height: 24px;
		height:50px;
		margin-top:30px;
		text-align: center;
	}
	@media (max-width: 767px) {
		display:none;
	}
}

#three-col{
	padding-top:40px;
	@media (max-width: 767px) {
		padding-left:10px;
		padding-right:10px;
	}
	.interest{
		float:left;
	}
	h3{
		font-size:18px;
		line-height: 18px;
		i{ 
			float:left; 
			font-size:20px;
		}
		span{ margin-left:30px; display:block;}
	}
	p{ float:left; clear:both; }
}


#footer{
	font-size:18px;
	font-weight:bold;
	@media (max-width: 767px) {
		padding-left:10px;
		padding-right:10px;
	}
}

#map{
	width:100%;
	height:500px;
	@media (max-width: 767px) {

	}
}

#select-point{
	width:100%;
	height:300px;
}

textarea{
	width:90%;
	height:300px;
}

img.file{
	display:block;
}

a.file{
	margin-top:10px;
}

#edit-profile, #create-profile{
	.artist, .description, .picture, .digital-tip, .type{
		margin-bottom:10px;
	}
}

#event{
	.time, .tip, .tweet{
		margin-bottom:10px;
	}
}

#events{
	@media (max-width: 767px) {
		.events-listing{display: none;}
	}
}

#profile{
	img{
		margin-bottom:20px;
	}
}

#profile, #about, #event, #edit-profile, #new-event{
	@media (max-width: 767px) {
		padding-left:10px;
		padding-right:10px;
	}
}

.type input[type="radio"]{
	margin-right: 5px;
}
